.cta {
 padding: 50px 0;
    background: #004aad;
}

.box {
  /* background: linear-gradient(
    135deg,
    #004aad,
    #0066cc
  ); */

  color: #ffffff;

  border-radius: var(--radius-lg);

  padding: 0px 40px;

  text-align: center;
}

.box h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.box p {
  max-width: 750px;
  margin: 0 auto 35px;
  line-height: 1.8;
  opacity: .95;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width:768px) {

  .box {
    padding: 50px 25px;
  }

  .box h2 {
    font-size: 30px;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }
}