.hero {
  background: #f8fbff;
  min-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  padding: 60px 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.content {
  display: flex;
  flex-direction: column;
}

.tag {
  display: inline-block;
  width: fit-content;
  background: #eef5ff;
  color: var(--primary-color);
  padding: 8px 18px;
  border-radius: 50px;
  margin-bottom: 20px;
  font-weight: 600;
}

.content h1 {
 font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.2;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 35px;
}

.actions {
  display: flex;
  gap: 16px;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}