.sectionTitle {
  margin-bottom: 50px;
}

.left {
  text-align: center;
}

.center {
  text-align: center;
}

.sectionTitle span {
  color: #004aad;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
}

.sectionTitle h2 {
  font-size: 42px;
  margin: 12px 0;
}

.sectionTitle p {
  color: #666;
  line-height: 1.8;
}